$def with (worker_id)

$var title: Consent Form


	<div class="bar"></div>
    <div class="main">
        <h1>Research Participant Information and Consent Form</h1>
	    <h3>Purpose of Research</h3>
		<p>This a research study about how people make decisions in fantasy sports games when using algorithmic tools.</p>
		<ul>
		    <li>You must be at least 18 years old to participate in this research.</li>
		    <li>You have been selected for this research because you passed the qualification quiz posted to mturk.com</li>
		</ul>
            <h3>What you will do</h3>
		<p>You will be asked to use a tool for analyzing baseball statistics and then to make predictions about the outcomes of some baseball games. Afterwards, you will be asked some basic demographic questions as well as some questions about your experience using the tool.</p>
            <h3>Potential Risks and Benefits</h3>
                <p>There are no direct potential benefits of participating in this research. However, this research may lead to improved tools and algorithms for helping decision makers in fantasy sports, medicine, finance, and other domains</p>
		<p>There are no foreseeable risks associated with participation in this research</p>
	    <h3>Your rights to participate, say no, or withdraw</h3>
		<p>Participation is voluntary. Refusal to participate will involve no penalty or loss of benefits to which you are otherwise entitled. You may discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. You have the right to say no. You may change your mind at any time and withdraw. You may choose not to answer specific questions or to stop participating at any time.</p>
	    <h3>Costs and compensations for being in the study</h3>
		<p>There are no costs associated with the study. You will be compensated $0.75 for completing the study, which is expected to take 15 to 20 minutes. Additionally, you will receive a bonus payment for points earned in the fantasy sports game. These payment will be made through Amazon Mechanical Turk within 1 week of competing the study. We expect the average total compensation to be $2.00.</p>
            <h3>Contact information for questions and concerns:</h3>
                <p>If you have concerns or questions about this study, such as scientific issues, how to do any part of it, or to report an injury, please contact :</p>
                <ul id="contact">
                    <li>Dr. Richard Wash</li>
                    <li>342 Communications Arts and Sciences Bldg.</li>
                    <li>East Lansing, MI 48824-1212</li>
                    <li>517-355-2281</li>
                </ul>
            <p>If you have questions or concerns about your role and rights as a research participant, would like to obtain information or offer input, or would like to register a complaint about this study, you may contact, anonymously if you wish, the Michigan State University's Human Research Protection Program at 517-355-2180, Fax 517-432-4503, or e-mail irb@msu.edu or regular mail at 408 W. Circle Dr., 207 Olds Hall, MSU, East Lansing, MI 48824.</p>

        <h3>Documentation of Informed Consent</h3>
        <p>You indicate your voluntary agreement to participate by checking the box below and clicking submit.</p>
        <form action="/create_subject" method="post">
            <p>I agree <input type="checkbox" name="agree" value="Yes" /></p>
	    <input type="hidden" name="worker_id" value="$worker_id" />
            <p><input type="submit" value="Proceed"/></p>
        </form>
     
    </div>