$def with (worker_id, game_data, var_names_batting, var_names_team_pitching, var_names_starter_pitching)

$var title: Customize
<table>
    <thead>
    <tr>
        <th>Records</th>
        <th>AWAY</th>
        <th>HOME</th>
        <th>Include?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>$game_data["wins_a"] - $game_data["losses_a"] (${game_data["wins_a"] / (game_data["wins_a"] + game_data["losses_a"])})</td>
        <td>$game_data["wins_h"] - $game_data["losses_h"] (${game_data["wins_h"] / (game_data["wins_h"] + game_data["losses_h"])})</td>
        <td><input type="checkbox" name="option" value="record" /></td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>Batting</th>
        <th>AWAY</th>
        <th>HOME</th>
        <th>Include?</th>
    </tr>
    </thead>
    <tbody>
    $for v in var_names_batting:
        <tr>
            <td>$var_names_batting[v]</td>
            <td>$game_data[v+"_a"]</td>
            <td>$game_data[v+"_h"]</td>
            <td><input type="checkbox" name="option" value="$v" /></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Starting Pitcher</th>
        <th>AWAY</th>
        <th>HOME</th>
        <th>Include?</th>
    </tr>
    </thead>
    <tbody>
    $for v in var_names_starter_pitching:
        <tr>
            <td>$var_names_starter_pitching[v]</td>
            <td>$game_data[v+"_a"]</td>
            <td>$game_data[v+"_h"]</td>
            <td><input type="checkbox" value="$v" /></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Team Pitching</th>
        <th>AWAY</th>
        <th>HOME</th>
        <th>Include?</th>
    </tr>
    </thead>
    <tbody>
    $for v in var_names_team_pitching:
        <tr>
            <td>$var_names_team_pitching[v]</td>
            <td>$game_data[v+"_a"]</td>
            <td>$game_data[v+"_h"]</td>
            <td><input type="checkbox" value="$v" /></td>
        </tr>
    </tbody>
</table>

<a href="/view_prediction/$worker_id">Click here to see simulated scores</a>