$def with (worker_id, condition, game_data, var_names_batting, var_names_team_pitching, var_names_starter_pitching, game_number)

$var title: Game
<body>
<div id="main">
<h2>Game $game_number of 12</h2>
$if condition == 1:
    <div id="nextbutton">
    <a class="nostyle" href="/customize_simulator/$worker_id"><span class="mybutton">Click here to customize the game simulator</span></a>
    </div>
$else:
    <div id="nextbutton">
    <a class="nostyle" href="/view_prediction/$worker_id/$game_number"><span class="mybutton">Click here to see the game simulator results</span></a>
    </div>
<p>All statistics are season totals to the date of the game</p>
<table class="stats">
    <thead>
    <tr>
        <th>Records</th>
        <th>AWAY</th>
        <th>HOME</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Season-to-date</td>
        <td>$game_data["wins_a"] - $game_data["losses_a"] ($game_data["away_pct"])</td>
        <td>$game_data["wins_h"] - $game_data["losses_h"] ($game_data["home_pct"])</td>
    </tr>
    </tbody>
</table>

<table class="stats">
    <thead>
    <tr>
        <th>Batting</th>
        <th>AWAY</th>
        <th>HOME</th>
    </tr>
    </thead>
    <tbody>
    $for v in var_names_batting:
        <tr>
            <td>$var_names_batting[v]</td>
            <td>$game_data[v+"_a"]</td>
            <td>$game_data[v+"_h"]</td>
        </tr>
    </tbody>
</table>
<table class="stats">
    <thead>
    <tr>
        <th>Starting Pitcher</th>
        <th>AWAY</th>
        <th>HOME</th>
    </tr>
    </thead>
    <tbody>
    $for v in var_names_starter_pitching:
        <tr>
            <td>$var_names_starter_pitching[v]</td>
            <td>$game_data[v+"_a"]</td>
            <td>$game_data[v+"_h"]</td>
        </tr>
    </tbody>
</table>
<table class="stats">
    <thead>
    <tr>
        <th>Team Pitching</th>
        <th>AWAY</th>
        <th>HOME</th>
    </tr>
    </thead>
    <tbody>
    $for v in var_names_team_pitching:
        <tr>
            <td>$var_names_team_pitching[v]</td>
            <td>$game_data[v+"_a"]</td>
            <td>$game_data[v+"_h"]</td>
        </tr>
    </tbody>
</table>


</div>
        