$def with (worker_id, condition)

$var title: Instructions
<div class="bar"></div>
<div class="main">
    <div id="intro">
        <p>Thank you for agreeing to participate in this research. In this study, you will play a fantasy baseball game, and use a new tool to help you play the game</p>
    </div>
    <div id="s1">
        <p>The fantasy baseball game asks you to predict the scores of twelve Major Leage Baseball games. Before you make your prediction for each game, you will use an experimental tool that will help you analyze statistics about each team.</p>
        <p>This tool will also make make a prediction about the game based on a statistical simulation of the game. In this research, we are hoping to improve this system by incorporating human judgment and knowledge from baseball fans into the statistical simulations.</p>
    </div>    
        <div id="instructions">
            <p>In the game, you will be shown statistics about each team. These statistics are season totals up to the day of the game.</p>
            $if condition == 1:
                        <p>The simulator works by comparing each team across numerous statistical categories, and then simulating the game using an algorithm to predict the most likely score for each team.</p>
                        <p>By default, the simulator treats all statistical comparisons equally in the simulation. This means for example, that the relative strength of each team in stealing bases is as important as the relative strenght of the team's records in the simulation.</p>
			<p>The performance of the simulator can be improved by customizing it to give more important statistical categories more emphasis in the algorithm. You will have the opportunity to select up to 5 categories for the algorithm to emphasize. Also, you can arrange any categories you choose according to their importance.</p>
			<p>For example, if you believe that the number of stolen bases is the most important category, you could select it and place it at #1 in the list (see screenshot below). If you thought the number of doubles would be the second most important category, you could select it and place it at #2. After selecting catgories, you can rearrange the order of their importance by dragging them up and down.</p>
            <p>Next, you will be shown the simulator's prediction for the game and asked to make your own predictions.</p>
            <h3>Scoring in the fantasy baseball game</h3>
            <p>Your score for your prediction of each game is calculated as follows:</p>
            <ul>
                        <li>You start with 20 points</li>
                        <li>If you choose the incorrect winner of the game, you lose 10 points</li>
                        <li>For each team, you also lose 1 point for the absolute difference between their runs scored and your prediction for their runs scored</li>
                        <li>The minumum number of points you can earn is 0</li>
	    </ul>
            <p>For example, if the final score of a game is Away team 5, Home team 3, and you predicted Away team 2, Home team 4, you would earn 5 points. You lose 10 for choosing the wrong winner. For the away team, you missed by 3 runs, and you missed the home team by 2 runs, leaving you with 5 for the game.</p>
	    $if condition ==1:
			<p>On average, the simulator's predictions score about 15 points per game under the default settings. But its performance can vary considerably.</p>
            $else:
			<p>On average, the simulator's predictions score about 15 points per game. But its perfomance can vary considerably.</p>
	    <p><strong>Confidence points:</strong> In addition to earning points directly from your predictions, for each game you are given an additional 10 points. With these points, you may keep them and add them to your total for the game. Or you can wager some or all of them. The wager is that you scored at least 15 points from your prediction. The return on this wager is 3 to 1. If you wager 4 confidence points and you earn 15 points from your prediction, you will earn 12 additional points. This wager is intended to indicate your confidence in your prediction.</p>
	    

        </div>
	<div id="research_statement" >
			<h3>Additional Notes</h3>
			<p>You will receive a message accompanying your bonus payment that provides details about your score in the game. This message and payment will arrive in appriximately 1 week.</p>
			<p>The names of teams and players have been removed. This is intended to prevent biases in making decisions because of being a fan of a particular team or player.</p>
			<p>The games that you are making predictions about have actually happened in the past. This is because we have not developed the infrastructure to incorporate up-to-date statistical information in real time into the simulator.</p>
			<p>However, the study and the simulator treat each game as if it has not yet been played. All statistical information used by the simulator is from the beginning of the season to the date the game was played.</p>
	</div>     
    <div id="continue">
        <p>Be sure you fully understand the instructions. Before completing the task, you must pass a quiz on these instructions</p>
        <p><a href="quiz?worker_id=$worker_id">Click here to continue to the quiz</a></p>
    </div>
</div>